.contenedor{
    display: flex;
    padding: 20px;
    background-color: rgb(67, 15, 115);
    justify-content: space-between;
    width: 100%;
}
.nav{
    display: flex;
    gap: 1rem;
}
.button:hover{
    color: white;
    background-color: rgba(137, 43, 226, 0.43);
    }
.button{
    background-color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 10px;
    color: blueviolet;
    cursor: pointer;
  }