.contenedor{
    border-radius: 49px;
    background: linear-gradient(45deg, #cacaca, #f0f0f0);
    align-items: center;
    justify-content: center;
        
}
img {
    max-width: 60%;
    max-height: 15rem;
    overflow: hidden;
    border-radius: 10px;
}